ul.breadcrumb {
  list-style: none;
  margin: 1em 0;
  padding: 0 2em;
  text-align: center;
  font-size: $font-size-small

  & li {
    display: inline;
  }

  & li+li:before {
    padding: 0.5em;
    font-weight: normal;
    content: "/\00a0";
  }

  & li+li:last-child {
    font-weight: bold;
  }
}
