body,div,p,span{margin:0;padding:0;}
body{
    font-family: "Microsoft Yahei","微软雅黑",Arial,Tahoma;
    font-size:14px;
}

.btn-container{
    width:100%;
}
#animationTipBox *{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

#animationTipBox{
    width:180px;
    height:auto;
    background-color:#fff;
    border-radius:8px;
    position:fixed;
    left:50%;
    top:50%;
    margin-left:-90px;
    margin-top:-75px;
    z-index:1001;
    -webkit-animation:alertAnimation 0.3s ease-in-out 0 1; 
}
#animationTipBox .icon{
    position:relative;
    width:80px;
    height:80px;
    border-radius:50px;
    border:4px solid #66cc33;
    margin:15px auto 5px auto;
}
#animationTipBox .icon_box{
    width:80px;
    height:80px;
    margin:0 auto;
    text-align:center;
    position:relative;
}
.tip .icon{
    width:80px;
    height:80px;
    background-color:#66cc33;
    border-radius:100%;
    color:#fff;
    font-size:80px;
    text-align:center;
    line-height:80px;   
}
#animationTipBox .lose .icon{
    border-color:#FF9090;
}
#animationTipBox .lose .icon_box{
    -webkit-animation:lose_Animation 0.5s;
}
#animationTipBox .dec_txt{
    font-size:16px;  
    text-align:center; 
    color:#666;
    line-height:26px;
    height:26px;
    padding:5px 0 10px 0;
}
.success .line_short{
    width:25px;
    height:5px;
    position:absolute;
    left: 14px;
    top: 46px;
    border-radius:4px;
    background-color:#66cc33;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
    -webkit-animation:success_short_Animation 0.65s;
}
.success .line_long{
    width:47px;
    height:5px;
    position:absolute;
    right: 8px;
    top: 38px;
    border-radius:4px;  
    background-color:#66cc33;
    -webkit-transform:rotate(-45deg);
    -webkit-animation:success_long_Animation 0.65s;
}

.lose .line_left,.lose .line_right{
    width:47px;
    height:5px;
    position:absolute;
    left: 17px;
    top: 37px;
    border-radius:4px;
    background-color:#FF9090;
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);    
}
.lose .line_right{  
    right: 11px;
    top: 37px;
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg);   
}



/* tipBoxKeyFrames */
    @keyframes alertAnimation{
        0% {
            transform: scale(0.5);
        }
        45% {
            transform: scale(1.25);
        }
        80% {
            transform: scale(0.95);
        }
        100% {
            transform: scale(1);
        } 
    }
    @-webkit-keyframes alertAnimation{
        0% {
            -webkit-transform: scale(0.5); }
        45% {
            -webkit-transform: scale(1.25); }
        80% {
            -webkit-transform: scale(0.95); }
        100% {
            -webkit-transform: scale(1);
        } 
    }
/* tipBoxKeyFrames */


/*success_Animation*/ 
    @-webkit-keyframes success_short_Animation{
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        70% {
            width: 50px;
            left: -4px;
            top: 37px;
        }
        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }
        100% {
            width: 25px;
            left: 14px;
            top: 45px;
        }
    }
    @keyframes success_short_Animation{
        0% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        54% {
            width: 0;
            left: 1px;
            top: 19px;
        }
        70% {
            width: 50px;
            left: -4px;
            top: 37px;
        }
        84% {
            width: 17px;
            left: 21px;
            top: 48px;
        }
        100% {
            width: 25px;
            left: 14px;
            top: 45px;          
        }
    }
    @-webkit-keyframes success_long_Animation{
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        65% {
            width: 0;
            right: 46px;
            top: 54px; 
        }
        84% {
            width: 55px;
            right: 0px;
            top: 35px; 
        }
        100% {
            width: 47px;
            right: 8px;
            top: 38px; 
        } 
    }
    @keyframes success_long_Animation{
        0% {
            width: 0;
            right: 46px;
            top: 54px;
        }
        65% {
            width: 0;
            right: 46px;
            top: 54px; 
        }
        84% {
            width: 55px;
            right: 0px;
            top: 35px; 
        }
        100% {
            width: 47px;
            right: 8px;
            top: 38px; 
        } 
    }
/*success_Animation*/

/* ---------------------------------------------------------------------------------------------------------------------------- */

/*lose_Animation*/
    @-webkit-keyframes lose_Animation{
        0%{
            -webkit-transform:scale(0.6);
            opacity:0.2;
        }
        50% {
            -webkit-transform:scale(0.6);
            opacity:0.5;
        }
        80% {
            -webkit-transform:scale(1.15);
            opacity:0.8;
        }
        100% {
            -webkit-transform:scale(1);
            opacity:1.0;
        } 
    }
/*lose_Animation*/


/*load_Animation*/
    @-webkit-keyframes load_Animation{
        0%{
            -webkit-transform:scale(0.6);
            opacity:0.2;
        }
        50% {
            -webkit-transform:scale(0.6);
            opacity:0.5;
        }
        80% {
            -webkit-transform:scale(1.15);
            opacity:0.8;
        }
        100% {
            -webkit-transform:scale(1);
            opacity:1.0;
        } 
    }
/*load_Animation*/
.load{
    position: relative;
    width: 60px;
    height: 80px;
    border-radius: 50px;
    border: 4px solid #fff;
    margin: 15px auto 5px auto;
    top: 10px;
}
.load .icon_box{
    margin:10px auto;
    width:60px;
    height:60px;    
}
.load .cirBox1,.load .cirBox2,.load .cirBox3{
    width:60px; 
    height:60px;
    position:absolute;
    left:0;
    top:0;
}
.load .cirBox1 > div,.load .cirBox2 > div,.load .cirBox3 > div{
    width:10px;
    height:10px;
    border-radius:100%;
    background-color:#ccc;
    position:absolute;
}
.load  .cirBox1{
    -webkit-transform:rotate(30deg);
}
.load  .cirBox2{
    -webkit-transform:rotate(60deg);
}
.load  .cirBox3{ 
    -webkit-transform:rotate(90deg);
}
.load .cir1{
    left:0;
    top:0;
}
.load .cir2{
    right:0;
    top:0;
}
.load .cir3{
    right:0;
    bottom:0;
}
.load .cir4{
    left:0;
    bottom:0;
}
.load .cir1,.load .cir2,.load .cir3,.load .cir4{
    -webkit-animation:cir_Animation 1.2s ease 0 infinite;
}
.cirBox1 .cir2{
    -webkit-animation-delay:-1.1s;
}
.cirBox1 .cir3{
    -webkit-animation-delay:-0.8s;
}
.cirBox1 .cir4{
    -webkit-animation-delay:-0.5s;
}

.cirBox2 .cir2{
    -webkit-animation-delay:-1.0s;
}
.cirBox2 .cir3{
    -webkit-animation-delay:-0.7s;
}
.cirBox2 .cir4{
    -webkit-animation-delay:-0.4s;
}

.cirBox3 .cir2{
    -webkit-animation-delay:-0.9s;
}
.cirBox3 .cir3{
    -webkit-animation-delay:-0.6s;
}
.cirBox3 .cir4{
    -webkit-animation-delay:-0.3s;
}



@-webkit-keyframes cir_Animation{
    0%,80%,100%{
        -webkit-transform:scale(0.4);
    }
    40%{
        -webkit-transform:scale(1.0);
    }
}
.mask{
    width:100%;
    height:100%;
    background-color:#000;
    opacity:.8;
    position: fixed;
    left: 0;
    top: 0;
    z-index:1000;
}
