// Custom styles.

.post {
  margin-top: 0px;
  margin-bottom: 60px;
  padding: 25px;
  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .8);
  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .8);
  background-color: #FBF6E7;
}

//* {
//  cursor: url("https://raw.githubusercontent.com/zhaoolee/GBlog/master/themes/next/source/images/chuyin.ico"),auto!important
//}
:active {
  cursor: url("https://raw.githubusercontent.com/zhaoolee/GBlog/master/themes/next/source/images/chuyin.ico"),auto!important
}


h1, h2,h3, h4, h5,h6{
  color: #009688 !important;
}

  body{
    background-color:#FBF6E7;
  }
//背景图片

