// scrollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

// track 
::-webkit-scrollbar-track {
  
}

// Handle style
::-webkit-scrollbar-thumb {
  border-radius: 10px;  
  background: rgba(0, 0, 0, 0.2);   
}

// inactive style
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.1);
}

// hover style
::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

// active style
::-webkit-scrollbar-thumb:active{
  background-color: rgba(0, 0, 0, 0.4);
}
