.sub-menu {
  margin: 0;
  padding: 6px 0;
  background: #fff !important;
  border-bottom: 1px solid $table-border-color;
}

.sub-menu .menu-item {
  display: inline-block !important;

  & a, span.exturl {
    padding: initial !important;
    margin: 5px 10px;
  }

  & a:hover, span.exturl:hover {
    background: initial !important;
    color: $sidebar-highlight;
  }
}

.sub-menu .menu-item-active a {
  background: #fff !important;
  color: $sidebar-highlight;
  border-bottom-color: $sidebar-highlight;

  &:hover {
    background: #fff !important;
    border-bottom-color: $sidebar-highlight;
  }

  badges = hexo-config('menu_settings.badges');
  if not badges {
    &:after {
      content: initial;
    }
  }
}
