.sidebar-active + #sidebar-dimmer {
  +mobile() {
    opacity: .7;
    transition: opacity .5s;
  }
  transform: translateX(-100%);
}

#sidebar-dimmer {
  show();
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}
