.reading-progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  show();
  width: 0;
  height: unquote(hexo-config('reading_progress.height'));
  background: unquote(hexo-config('reading_progress.color'));
}
